* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
}

.promo {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 100%;
  min-height: 400px;

  background: linear-gradient(#9198e5, #fdbd32);
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;

  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

.promo__title {
  width: 100%;
  margin-bottom: 20px;
  
  text-align: center;

  background-color: #fff;
  border-radius: 10px;

  box-sizing: border-box;
}

.promo__title .title {
  font-size: 3em;
  margin: 0;
  padding: 10px;
}

.promo__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.promo__image {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  background-color: #fff;
  border-radius: 10px;
}

.promo__image .image {
  width: 150px;
  height: auto;
  display: block;
}

.description__wrapper {
  width: 50%;

  padding: 20px;
  margin: 0;

  background-color: #fff;
  border-radius: 10px;

  box-sizing: border-box;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-inline-start: 25px;
}

.order {
  width: 50%;
  height: 30px;

  display: block;
  margin: 0 auto;
  
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  color: #fff;
  background: #000;

  border-radius: 10px;
}

.order:hover {
  background: #808080;
}

.order:active {
  background: #808080;
}

/* Product section */
.product {
  padding: 20px;
  background: linear-gradient(#e66465, #9198e5);
}

.product .container {
  display: flex;
  justify-content: space-between;
}

.product__ingredients {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  padding: 0;
  margin: 0;
}

.ingredients__item {
  width: 150px;
  height: 120px;
  background: #fff;
  padding: 20px;

  border-radius: 10px;

  box-sizing: border-box;
}

.ingredients__item .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fdbd32;

  margin: 0 auto;
}

.ingredients__item .text {
  text-align: center;
}

.product__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  background-color: #fff;

  border-radius: 10px;
}

.product__image .image {
  width: 50%;

  display: block;
}